.minecraft/backups/
.minecraft/coremods/
.minecraft/logs/
.minecraft/local/ftbutilities/backups.json
.minecraft/crash-reports/
.minecraft/mods/memory_repo/
.minecraft/resourcepacks/
.minecraft/saves/
.minecraft/screenshots/
.minecraft/scripts/temp.txt
.minecraft/server-resource-packs/
.minecraft/signpic
.minecraft/texturepacks/
.minecraft/alleles.dump
.minecraft/BotaniaVars.dat
.minecraft/registry.dump
.minecraft/crafttweaker.log
.minecraft/options.txt
.minecraft/oredict.log
.minecraft/recipenames.log
.minecraft/usercache.json
.minecraft/usernamecache.json
natives/