.minecraft/.mixin.out/
.minecraft/backups/
.minecraft/coremods/
.minecraft/config/triumph/documentation/
.minecraft/config/triumph/script/triumph/example/
.minecraft/config/triumph/functions/
,minecraft/config/triumph/json/
.minecraft/logs/
.minecraft/local/ftbutilities/backups.json
.minecraft/crash-reports/
.minecraft/mods/
.minecraft/mods/memory_repo/
.minecraft/resources/botania/sounds/music
.minecraft/resourcepacks/
.minecraft/saves/
.minecraft/screenshots/
.minecraft/scripts/temp.txt
.minecraft/server-resource-packs/
.minecraft/signpic/
.minecraft/stall-reports/
.minecraft/texturepacks/
.minecraft/alleles.dump
.minecraft/BotaniaVars.dat
.minecraft/registry.dump
.minecraft/crafttweaker.log
.minecraft/options.txt
.minecraft/oredict.log
.minecraft/recipenames.log
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/patchouli_data.json
natives/