# Configuration file

general {
    # Drinkable fluids. Format: fluid_name, half-shanks (0-20), saturation (0.0-1.0) [, damage [, potion_name, potion_duration, potion_level] ... ]
    S:sips <
        water, 0, 0.0
        lava, 0, 0.0, 1000
        mushroom_stew, 6, 0.6
        
        chickenstock, 4, 0.4
        chocolatemilk, 6, 0.6
        
        concrete, 0, 0, 0, immersiveengineering:concretefeet, 600, 0
        
        binnie.bacteria, 1, 0.1, 1, minecraft:nausea, 600, 0, minecraft:hunger, 600, 0
        binnie.bacteria.poly, 1, 0.1, 1, minecraft:nausea, 600, 0, minecraft:hunger, 600, 0
        binnie.bacteria.vector, 1, 0.1, 1, minecraft:nausea, 600, 0, minecraft:hunger, 600, 0
        binnie.dna.raw, 1, 0.1, 1, minecraft:nausea, 600, 0, minecraft:hunger, 600, 0
        binnie.growth.medium, 1, 0.1, 0
        
        bio.ethanol, 1, 0.1, 0, minecraft:nausea, 600, 0
        
        blueslime, 2, 0.2, 0, minecraft:jump_boost, 600, 0
        purpleslime, 2, 0.2, 0, minecraft:jump_boost, 600, 0
        blood, 2, 0.2, 0, minecraft:health_boost, 600, 1, minecraft_hunger, 300, 0
        
        for.honey, 2, 0.2, -1
        honey, 2, 0.2, -1
        juice, 1, 0.1, 0, minecraft:haste, 300, 0
        syrup, 1, 0.1, 0, minecraft:haste, 300, 0
        
        liquid_fertilizer, 0, 0, 0, minecraft:nausea, 600, 0
        
     >

    # Unlisted fluids will deal damage if they are too hot or cold.
    B:temperatureDamage=true

    compat {
        # Sipping Thermal Expansion potion fluids will apply their potion effects.
        B:thermalExpansion=true

        # Sipping Thermal Foundation fluids will apply their potion effects. Resonant Ender will randomly teleport the drinker.
        B:thermalFoundation=true
    }

}


